@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #F3F5F7;
}

.container {
    max-width: 900px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}

.cabecalho--main {
    padding: 40px;
    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
}

.titles--cabecalho {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.titles--cabecalho h3 {
    display: inline;
    font-weight: normal;
    margin: 5px;
}

.input input {
    font-family: 'Inter', sans-serif;
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-size: 18px;
}

input::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.5;
    font-weight: 500;
    font-family: 'Inter', sans-serif;

}

.content--main {}